<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <div class="w-full p-8 text-white h-screen bg-zinc-900">

        <form action="/login" method="post">
            <h1 class="text-3xl ml-4">Login User</h1>
            <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-400 mt-4 ml-4" type="email" placeholder="Email" name="email">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-400 mt-4 ml-4" type="password" placeholder="password" name="password">
            <input class="px-3 py-1 rounded-xl bg-blue-700   border-2 block border-zinc-400 mt-4 ml-4" type="submit"  value="Login">
        </form>

    </div>

</body>
</html>